[mysqld]
basedir=E:/environment/mysql-8.0.46-winx64-bin
datadir=E:/workspacce/AI/ai_kefu/.data/mysql-win/data
port=3306
bind-address=127.0.0.1
log-error=E:/workspacce/AI/ai_kefu/.data/logs/mysql.err
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
secure-file-priv=
skip-log-bin
mysqlx=0

[client]
host=127.0.0.1
port=3306
default-character-set=utf8mb4
